MAXSEMITIEDITER = 20
SEMITIEDMACRO   = "cmp"
SAVEFULLC = T
BASECLASS = "/home/szm/tts/train_hts_model/4.train.8000.auto/models/qst001/ver1/cmp/stc.base"
TRANSKIND = SEMIT
USEBIAS   = F
ADAPTKIND = BASE
BLOCKSIZE = "IntVec 3 25 25 25 IntVec 1 1 IntVec 1 1 IntVec 1 1 "
BANDWIDTH = "IntVec 3 1 1 1 IntVec 1 1 IntVec 1 1 IntVec 1 1 "
